body {
    background-color: #37383a;
    padding: 30px;
  }

h1 {
  font-weight: lighter;
  font-size: 50px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.welcome {
  background-image: url("https://media.giphy.com/media/elDEyYfTCqZc1y3I6T/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7c797952;
  text-align: center;
  color: lightgrey;
  font-weight: lighter;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 5%;
}

.welcome p {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.forms {
  background-color: #7c797952;
  text-align: center;
  color: lightgrey;
  font-weight: lighter;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 5%;
}

#results {
  background-color: #7c797952;
  text-align: center;
  color: lightgrey;
  font-weight: lighter;
  padding: 30px;
  border-radius: 10px;
  list-style-type:none;
}

label {
  font-size: 25px;
}

p {
  font-size: 25px;
  text-align: center;
  color: white;
}

#userInput {
  text-transform: uppercase;
  color: white;
}
